<h2>Mock Api Service</h2>

<br/>

<div class="api">
  <label>Name: </label>
  <input [(ngModel)]="person.name" />
  <button (click)="addPerson()">Add</button>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people">
        <!--A structural directive that renders a template for each item in a collection. The directive is placed on an element, which becomes the parent of the cloned templates.-->
        <td>{{ person.id }}</td>
        <td>{{ person.name }}</td>
      </tr>
    </tbody>
  </table>
</div>
