@if (hasRoute('/about')) {
<nav class="sidebar">
  <ul>
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><b>Data Binding</b></a
      >
    </li>

    <li>
      <a
        routerLink="/custom-directives"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><b>Custom Directives</b></a
      >
    </li>

    <li>
      <a
        routerLink="/sharing-data"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><b>Sharing Data </b></a
      >
    </li>

    <li>
      <a
        routerLink="/services"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><b>Services</b></a
      >
    </li>

    <li>
      <a
        routerLink="/forms"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><b>Forms</b></a
      >
    </li>

    <li>
      <a
        routerLink="/view-container-ref"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><b>View Container Ref</b></a
      >
    </li>

    <li>
      <a
        routerLink="/dynamic-header"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><b>Dynamic Header</b></a
      >
    </li>

    <li>
      <a
        routerLink="/signals"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><b>Signals</b></a
      >
    </li>

    <li>
      <a
        routerLink="/lazy-loading"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><b>Lazy loading </b></a
      >
    </li>

    <br />

    <li>
      <a
        routerLink="/playground"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><b>Playground</b></a
      >
    </li>
  </ul>
</nav>
}
