.sidebar {
  display:none;
}

/*DESKTOP SCREENS*/
@media (min-width: 70rem) {
  .sidebar {
    display: block;
    padding:2rem 0;
    margin:auto;
    min-height:80vh;
    min-width:25vw;
  }

  h3 {
    margin-left:3rem;
  }

  li{
    list-style-type: none;
    margin-bottom:1rem;
  }

  ul {
    padding: 0;
  }
}