.sidebar {
  display:none;
}

li{
  list-style-type: none;
  margin-bottom:1rem;
}

/*DESKTOP SCREENS*/
@media (min-width: 70rem) {
  .sidebar {
    display: block;
    padding:2rem;
    margin:auto;
    min-height:80vh;
    min-width:25vw;
  }

  h3 {
    text-align: center;
    margin-bottom: 2rem;
  }
}