<nav class="sidebar" *ngIf="hasRoute('/about')">
  <h3>Lessons</h3>
  
  <ul>
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><b>1. Data Binding</b></a
      >
    </li>
    <li>
      <a
        routerLink="/assignment1"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Assignment 1</a
      >
    </li>

    <li>
      <a
        routerLink="/lesson2"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><b>2. Directives</b></a
      >
    </li>
    <li>
      <a
        routerLink="/assignment2"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Assignment 2</a
      >
    </li>

    <li>
      <a
        routerLink="/lesson3"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><b>3. Sharing Data Between Components</b></a
      >
    </li>

    <br/>

    <li>
      <a
        routerLink="/playground"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><b>Playground</b></a
      >
    </li>

    <li>
      <a
        routerLink="/api"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><b>Mock Api Service</b></a
      >
    </li>
   
     
    </ul>

</nav>

