<p>Counts up to 100: {{ stat }}</p>

<!-- intersection observer -->
<div #lazy class="container">
  <span class="container-span" data-lazy="lazy-container-span"
    >Test Intersection Observer</span
  >
</div>

<div class="quotesContainer">
  <div #lazyquotes>
    <span class="quotes" data-lazy="lazy-quotes"
      >It does not do well to dwell on dreams and forget to live.</span
    >
  </div>

  <div #lazyquotes>
    <span class="quotes" data-lazy="lazy-quotes"
      >It takes a great deal of bravery to stand up to our enemies, but just as
      much to stand up to our friends.</span
    >
  </div>

  <div #lazyquotes>
    <span class="quotes" data-lazy="lazy-quotes"
      >It is our choices, Harry, that show what we truly are, far more than our
      abilities.</span
    >
  </div>
</div>
