.wrapper {
  display: flex;
  flex-direction: column;
  background: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  width: 100%;
  margin: 1rem 0;
}
@media (min-width: 600px) {
  .wrapper {
    padding: 2rem;
  }
}
