<!-- [ngStyle] showcase1:  change background color based on method -->
<h2>Lession 2: Directives</h2>
<h4>[ngStyle]</h4>
Write 'green' to see the change.
<input type="text" class="form-control" (input)="updateColor($event)" />

<p [ngStyle]="{ backgroundColor: getColor() }">{{ color }}</p>

<!-- [ngStyle] showcase2: toggle the "special" class on/off with a property -->
<h4>ngClass</h4>
<div [ngClass]="isSpecial ? 'special' : ''">I'm a div</div>
<button (click)="changeClass()">Change Class</button>


<!-- *ngIf showcase: add or remove element -->
<h4>*ngIf</h4>
<p
  [ngStyle]="{ width: '100px', backgroundColor: 'red' }"
  *ngIf="condition === true"
>
  I'm a paragraph
</p>
<button (click)="changeCondition()">{{ condition ? "Remove paragraph"  : "Show paragraph" }}</button>


<!-- *ngFor showcase: dynamically display elements of array -->
<h4>*ngFor</h4>
<form (ngSubmit)="onSubmit()" #formName="ngForm">
  <input [(ngModel)]="hero" name="name" id="name" #name="ngModel" required />
  <button type="submit" [disabled]="!formName.form.valid">Add Hero</button>
</form>

<table class="table">
  <thead>
    <th>ID</th>
    <th>Name</th>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ hero }}</td>
    </tr>
  </tbody>
</table>

<!-- [ngSwitch] showcase -->
<h4>[ngSwitch]</h4>

<div class='switchDiv'>
  Input string (try numbers 1-5): <input type="text" [(ngModel)]="num" />

  <div [ngSwitch]="num">
    <div *ngSwitchCase="'1'">One</div>
    <div *ngSwitchCase="'2'">Two</div>
    <div *ngSwitchCase="'3'">Three</div>
    <div *ngSwitchCase="'4'">Four</div>
    <div *ngSwitchCase="'5'">Five</div>
    <div *ngSwitchDefault>This is Default</div>
  </div>
</div>

<br/><br/>
