h2 {
  margin-bottom: 2rem;
  text-align: center;
}

p {
  margin-bottom: 2rem;
}

div {
  background-color: blue;
  color:white;
}

.special{
  background-color: chartreuse;

}

h4 {
  margin-top:2rem;
}

.myDiv {
  background-color: rgb(8, 7, 90);
}

.secretParagraph {
  padding:1 rem;
  background-color: rgb(4, 26, 23);
}