h2 {
  margin-bottom: 2rem;
  text-align: center;
}

p {
  margin-bottom: 2rem;
}

div {
  background-color: blue;
  color:white;
  text-align: center;
}

.special{
  background-color: chartreuse;

}

h4 {
  margin-top:2rem;
}

.switchDiv {
  background-color: indigo;
}

