<!-- [ngStyle] showcase1:  change background color based on method -->
<h2>Lession 2: Directives</h2>
<h4>[ngStyle]</h4>
Write 'green' to see the change.
<input type="text" class="form-control" (input)="updateColor($event)" />

<p [ngStyle]="{ backgroundColor: getColor() }">{{ color }}</p>

<!-- [ngStyle] showcase2: toggle the "special" class on/off with a property -->
<h4>ngClass</h4>
<div [ngClass]="isSpecial ? 'special' : ''">I'm a div</div>
<button (click)="changeClass()">Change Class</button>

<br /><br />

<!-- *ngIf showcase: add or remove element -->
<h4>*ngIf</h4>
<p
  [ngStyle]="{ width: '100px', backgroundColor: 'red', margin: 'auto' }"
  *ngIf="condition === true"
>
  I'm a paragraph
</p>
<button (click)="changeCondition()">Remove paragraph!</button>

<br /><br />

<!-- *ngFor showcase: dynamically display elements of array -->
<h4>*ngFor</h4>
<form (ngSubmit)="onSubmit()" #formName="ngForm">
  <input [(ngModel)]="hero" name="name" id="name" #name="ngModel" required />
  <button type="submit" [disabled]="!formName.form.valid">Add Hero</button>
</form>

<br />

<table class="table">
  <thead>
    <th>ID</th>
    <th>Name</th>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ hero }}</td>
    </tr>
  </tbody>
</table>

<br/>
<br/>

<!-- Renderer showcase / custom directives (example.directive.ts)-->

<h4>Custom directives and Renderer2</h4>
The Renderer2 class is an abstraction provided by Angular in the form of a
service that allows to manipulate elements of your app without having to touch
the DOM directly. This is the recommended approach because it then makes it
easier to develop apps that can be rendered in environments that don’t have DOM
access, like on the server, in a web worker or on native mobile. You’ll often
use Renderer2 in custom directives because of how Angular directives are the
logical building block for modifying elements.

<br/>

<div appExample>
  I'm a div and my color is changed by a custom directive!
</div>