<div class="wrapper">
  <h3>Assignment 1: Databinding</h3>
  Add a Input field which updates a property ("username") via
  Two-Way-Binding. Output the username property via String Interpolation (in a
  paragraph below the input). Add a button which may only be clicked if the
  username is NOT an empty string. Upon clicking the button, the username should
  be reset to an empty string.
  <div class="inputWrapper">
    <input type="text" [(ngModel)]="username" />
    <br />
    <p>
      The username value is: <b>{{ username }}</b>
    </p>
    <button [disabled]="isButtonDisabled()" (click)="resetUsername()">
      Reset username
    </button>
  </div>
</div>
