<div class="item">
  <div>
    <div>ITEM</div>
    <div class="icon-wrapper">
      <fa-icon [icon]="faBars" [ngStyle]="{ fontSize: '1.5em' }"> </fa-icon>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
      pharetra interdum velit, nec accumsan justo volutpat in. Nullam feugiat
      tristique ante vel laoreet. Ut vitae convallis ligula, a facilisis nisl.
      Suspendisse interdum nisl sit amet faucibus suscipit. Cras fermentum
      molestie diam vitae suscipit. Cras eget massa quam. Fusce aliquet viverra
      urna in laoreet.
    </div>
  </div>
</div>
