.formWrapper {
  display: flex;
  justify-content: center;
}

input {
  margin: 1rem 0;
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
}

button {
  margin: 1rem;
  padding: 0.8rem;
  font-weight: bold;
  background-color: #a24cf3;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #8f37e0;
}

p {
  height: fit-content;
}

.alert-danger p {
  font-family: Arial;
  text-align: center;
}
