<h2>Lession 4: Services</h2>

<p>
  Services allow us to centralize tasks, manage data in a central place so we
  don’t have to repeat the same code in multiple components. A service is
  typically a class with a narrow, well-defined purpose. Instances of services
  shouldn’t be created manually but by Angular’s dependency injector which
  automatically injects instances of our services as dependencies to our
  components - all we need to do is inform Angular that we require such an
  instance. We do that by: <br /><br />
  <li>
    adding a constructor to the component class (and importing the service in
    the same class) - so Angular knows what service we want
  </li>
  <li>
    providing that service (telling Angular how to create it) in the providers
    property of the class’ @Component decorator or by using
    <b>@Injectable</b> with providedIn property on the service class. Always
    decorating with @Injectable is considered a good practice that improves
    readability of the code. <br /><br />
    The only difference between these ways of providing is how many instances
    will be created by the providers when a service is added to the component.
    @Injectable with ProvidedByRoot will create only one instance, and
    ProvidedByComponent will create a new instance for every component.
  </li>
  <b>Important</b> : The dependency injector is a hierarhical injector: the
  service is always provided in the chosen component class and
  <b>all its child components</b>! The highest possible level where we can
  provide a service is the AppModule, and that means the service is available in
  all our components.
</p>

<br />
<li>
  <a
    routerLink="/loggingservice"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    ><b>Logging Service</b></a
  >
</li>

<li>
  <a
    routerLink="/dataservice"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    ><b>Mock Data Service</b></a
  >
</li>

<li>
  <a
    routerLink="/messageservice"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    ><b>Message Service</b></a
  >
</li>

<li>
  <a
    routerLink="/apiservice"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    ><b>Mock Api Service</b></a
  >
</li>

<li>
  <a
    routerLink="/taskservice"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    ><b>Task Service</b></a
  >
</li>

