    <h2>Lession 1: Data Binding</h2>
    <h4>1. One way data binding:</h4>
    <b>a) String Interpolation:</b>
    <p>
      The pokemon via variable is <b>{{ firstPokemon }}</b>
      <br />
      The pokemon via method is <b>{{ getPokemon() }}</b>
    </p>

    <b>b) Property binding:</b>
    <p>
      <button [disabled]="buttonDisabled" (click)="buttonDisabled = true">
        Disable me!
      </button>
    </p>

    <b>c) Event binding with (click):</b>
    <p>
      <button (click)="functionOnClick()">
        Click me to see the output in console
      </button>
    </p>

    <b>d) Event binding with (input):</b>
    <p>
      <input
        type="text"
        class="form-control"
        (input)="onUpdateInputName($event)"
      />

      {{ inputName }}
    </p>

    <h4>2. Two-way data binding:</h4>
    *combined property and event binding with directive @NgModel <br />
    *this automatically triggers on the input event and updates the value of
    variable
    <!--only works with {FormsModule} import in app.module-->
    <p>
      <input type="text" [(ngModel)]="initialName" />
      <br />
      <button (click)="checkVariableName()">Trigger it!</button>

      The variable value is: <b>{{ initialName }}</b>
    </p>
 

