@keyframes ldio-7vzt6rqdojc {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-7vzt6rqdojc div {
  left: 90.58500000000001px;
  top: 77.775px;
  position: absolute;
  animation: ldio-7vzt6rqdojc linear 1.0204081632653061s infinite;
  background: #a529ff;
  width: 1.83px;
  height: 1.83px;
  border-radius: 0.915px / 0.915px;
  transform-origin: 0.915px 13.725000000000001px;
}
.ldio-7vzt6rqdojc div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.010204081632653s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(2) {
  transform: rotate(3.6deg);
  animation-delay: -1s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(3) {
  transform: rotate(7.2deg);
  animation-delay: -0.9897959183673469s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(4) {
  transform: rotate(10.8deg);
  animation-delay: -0.9795918367346939s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(5) {
  transform: rotate(14.4deg);
  animation-delay: -0.9693877551020408s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(6) {
  transform: rotate(18deg);
  animation-delay: -0.9591836734693877s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(7) {
  transform: rotate(21.6deg);
  animation-delay: -0.9489795918367347s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(8) {
  transform: rotate(25.2deg);
  animation-delay: -0.9387755102040817s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(9) {
  transform: rotate(28.8deg);
  animation-delay: -0.9285714285714286s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(10) {
  transform: rotate(32.4deg);
  animation-delay: -0.9183673469387755s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(11) {
  transform: rotate(36deg);
  animation-delay: -0.9081632653061225s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(12) {
  transform: rotate(39.6deg);
  animation-delay: -0.8979591836734694s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(13) {
  transform: rotate(43.2deg);
  animation-delay: -0.8877551020408163s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(14) {
  transform: rotate(46.8deg);
  animation-delay: -0.8775510204081632s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(15) {
  transform: rotate(50.4deg);
  animation-delay: -0.8673469387755102s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(16) {
  transform: rotate(54deg);
  animation-delay: -0.8571428571428571s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(17) {
  transform: rotate(57.6deg);
  animation-delay: -0.8469387755102041s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(18) {
  transform: rotate(61.2deg);
  animation-delay: -0.8367346938775511s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(19) {
  transform: rotate(64.8deg);
  animation-delay: -0.826530612244898s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(20) {
  transform: rotate(68.4deg);
  animation-delay: -0.8163265306122449s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(21) {
  transform: rotate(72deg);
  animation-delay: -0.8061224489795918s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(22) {
  transform: rotate(75.6deg);
  animation-delay: -0.7959183673469388s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(23) {
  transform: rotate(79.2deg);
  animation-delay: -0.7857142857142857s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(24) {
  transform: rotate(82.8deg);
  animation-delay: -0.7755102040816326s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(25) {
  transform: rotate(86.4deg);
  animation-delay: -0.7653061224489796s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(26) {
  transform: rotate(90deg);
  animation-delay: -0.7551020408163265s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(27) {
  transform: rotate(93.6deg);
  animation-delay: -0.7448979591836735s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(28) {
  transform: rotate(97.2deg);
  animation-delay: -0.7346938775510204s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(29) {
  transform: rotate(100.8deg);
  animation-delay: -0.7244897959183674s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(30) {
  transform: rotate(104.4deg);
  animation-delay: -0.7142857142857143s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(31) {
  transform: rotate(108deg);
  animation-delay: -0.7040816326530612s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(32) {
  transform: rotate(111.6deg);
  animation-delay: -0.6938775510204082s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(33) {
  transform: rotate(115.2deg);
  animation-delay: -0.6836734693877551s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(34) {
  transform: rotate(118.8deg);
  animation-delay: -0.673469387755102s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(35) {
  transform: rotate(122.4deg);
  animation-delay: -0.6632653061224489s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(36) {
  transform: rotate(126deg);
  animation-delay: -0.6530612244897959s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(37) {
  transform: rotate(129.6deg);
  animation-delay: -0.6428571428571429s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(38) {
  transform: rotate(133.2deg);
  animation-delay: -0.6326530612244898s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(39) {
  transform: rotate(136.8deg);
  animation-delay: -0.6224489795918368s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(40) {
  transform: rotate(140.4deg);
  animation-delay: -0.6122448979591837s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(41) {
  transform: rotate(144deg);
  animation-delay: -0.6020408163265306s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(42) {
  transform: rotate(147.6deg);
  animation-delay: -0.5918367346938775s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(43) {
  transform: rotate(151.2deg);
  animation-delay: -0.5816326530612245s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(44) {
  transform: rotate(154.8deg);
  animation-delay: -0.5714285714285714s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(45) {
  transform: rotate(158.4deg);
  animation-delay: -0.5612244897959183s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(46) {
  transform: rotate(162deg);
  animation-delay: -0.5510204081632653s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(47) {
  transform: rotate(165.6deg);
  animation-delay: -0.5408163265306123s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(48) {
  transform: rotate(169.2deg);
  animation-delay: -0.5306122448979592s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(49) {
  transform: rotate(172.8deg);
  animation-delay: -0.5204081632653061s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(50) {
  transform: rotate(176.4deg);
  animation-delay: -0.5102040816326531s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(51) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(52) {
  transform: rotate(183.6deg);
  animation-delay: -0.4897959183673469s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(53) {
  transform: rotate(187.2deg);
  animation-delay: -0.47959183673469385s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(54) {
  transform: rotate(190.8deg);
  animation-delay: -0.46938775510204084s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(55) {
  transform: rotate(194.4deg);
  animation-delay: -0.45918367346938777s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(56) {
  transform: rotate(198deg);
  animation-delay: -0.4489795918367347s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(57) {
  transform: rotate(201.6deg);
  animation-delay: -0.4387755102040816s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(58) {
  transform: rotate(205.2deg);
  animation-delay: -0.42857142857142855s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(59) {
  transform: rotate(208.8deg);
  animation-delay: -0.41836734693877553s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(60) {
  transform: rotate(212.4deg);
  animation-delay: -0.40816326530612246s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(61) {
  transform: rotate(216deg);
  animation-delay: -0.3979591836734694s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(62) {
  transform: rotate(219.6deg);
  animation-delay: -0.3877551020408163s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(63) {
  transform: rotate(223.2deg);
  animation-delay: -0.37755102040816324s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(64) {
  transform: rotate(226.8deg);
  animation-delay: -0.3673469387755102s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(65) {
  transform: rotate(230.4deg);
  animation-delay: -0.35714285714285715s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(66) {
  transform: rotate(234deg);
  animation-delay: -0.3469387755102041s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(67) {
  transform: rotate(237.6deg);
  animation-delay: -0.336734693877551s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(68) {
  transform: rotate(241.2deg);
  animation-delay: -0.32653061224489793s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(69) {
  transform: rotate(244.8deg);
  animation-delay: -0.3163265306122449s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(70) {
  transform: rotate(248.4deg);
  animation-delay: -0.30612244897959184s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(71) {
  transform: rotate(252deg);
  animation-delay: -0.29591836734693877s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(72) {
  transform: rotate(255.6deg);
  animation-delay: -0.2857142857142857s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(73) {
  transform: rotate(259.2deg);
  animation-delay: -0.2755102040816326s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(74) {
  transform: rotate(262.8deg);
  animation-delay: -0.2653061224489796s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(75) {
  transform: rotate(266.4deg);
  animation-delay: -0.25510204081632654s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(76) {
  transform: rotate(270deg);
  animation-delay: -0.24489795918367346s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(77) {
  transform: rotate(273.6deg);
  animation-delay: -0.23469387755102042s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(78) {
  transform: rotate(277.2deg);
  animation-delay: -0.22448979591836735s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(79) {
  transform: rotate(280.8deg);
  animation-delay: -0.21428571428571427s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(80) {
  transform: rotate(284.4deg);
  animation-delay: -0.20408163265306123s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(81) {
  transform: rotate(288deg);
  animation-delay: -0.19387755102040816s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(82) {
  transform: rotate(291.6deg);
  animation-delay: -0.1836734693877551s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(83) {
  transform: rotate(295.2deg);
  animation-delay: -0.17346938775510204s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(84) {
  transform: rotate(298.8deg);
  animation-delay: -0.16326530612244897s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(85) {
  transform: rotate(302.4deg);
  animation-delay: -0.15306122448979592s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(86) {
  transform: rotate(306deg);
  animation-delay: -0.14285714285714285s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(87) {
  transform: rotate(309.6deg);
  animation-delay: -0.1326530612244898s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(88) {
  transform: rotate(313.2deg);
  animation-delay: -0.12244897959183673s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(89) {
  transform: rotate(316.8deg);
  animation-delay: -0.11224489795918367s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(90) {
  transform: rotate(320.4deg);
  animation-delay: -0.10204081632653061s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(91) {
  transform: rotate(324deg);
  animation-delay: -0.09183673469387756s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(92) {
  transform: rotate(327.6deg);
  animation-delay: -0.08163265306122448s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(93) {
  transform: rotate(331.2deg);
  animation-delay: -0.07142857142857142s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(94) {
  transform: rotate(334.8deg);
  animation-delay: -0.061224489795918366s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(95) {
  transform: rotate(338.4deg);
  animation-delay: -0.05102040816326531s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(96) {
  transform: rotate(342deg);
  animation-delay: -0.04081632653061224s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(97) {
  transform: rotate(345.6deg);
  animation-delay: -0.030612244897959183s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(98) {
  transform: rotate(349.2deg);
  animation-delay: -0.02040816326530612s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(99) {
  transform: rotate(352.8deg);
  animation-delay: -0.01020408163265306s;
  background: #a529ff;
}
.ldio-7vzt6rqdojc div:nth-child(100) {
  transform: rotate(356.4deg);
  animation-delay: 0s;
  background: #a529ff;
}
.loadingio-spinner-spinner-v1pootbuem {
  width: 183px;
  height: 183px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-7vzt6rqdojc {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-7vzt6rqdojc div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
