<nav class="navbar">
  <a routerLink="/">
    <h3 class="title">
      <img src="assets/img/logo.png" alt="logo" />Angular Playground
    </h3>
  </a>
  <ul>
    @if (isAuthenticated) {
    <li>
      <a
        routerLink="/my-profile"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >My Profile</a
      >
    </li>
    }
    <button (click)="onLogout()">
      {{ !isAuthenticated ? 'Log in' : 'Log out' }}
    </button>
    <li>
      <a
        routerLink="/about"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >About</a
      >
    </li>
  </ul>

  <button class="hamburger" (click)="toggle()">
    @if (!show) {
    <fa-icon
      [icon]="faBars"
      [ngStyle]="{ fontSize: '1.5em', marginRight: '1rem' }"
    ></fa-icon>
    } @if (show) {
    <fa-icon
      [icon]="faTimes"
      [ngStyle]="{ fontSize: '1.8em', marginRight: '1rem' }"
    ></fa-icon>
    }
  </button>

  @if (show) {
  <div class="dropdown" (click)="show = false">
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Data Binding</a
        >
      </li>
      <li>
        <a
          routerLink="/custom-directives"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><b>Custom Directives</b></a
        >
      </li>

      <li>
        <a
          routerLink="/sharing-data"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><b>Sharing Data</b></a
        >
      </li>

      <li>
        <a
          routerLink="/services"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><b>Services</b></a
        >
      </li>

      <li>
        <a
          routerLink="/forms"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><b>Forms</b></a
        >
      </li>

      <li>
        <a
          routerLink="/view-container-ref"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><b>View Container Ref</b></a
        >
      </li>

      <li>
        <a
          routerLink="/dynamic-header"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><b>Dynamic Header</b></a
        >
      </li>

      <li>
        <a
          routerLink="/signals"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><b>Angular Signals</b></a
        >
      </li>

      <li>
        <a
          routerLink="/lazy-loading"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><b>Lazy loading </b></a
        >
      </li>

      <li>
        <a
          routerLink="/playground"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><b>Playground</b></a
        >
      </li>

      ............................... @if (isAuthenticated) {
      <li>
        <a
          routerLink="/my-profile"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >My Profile</a
        >
      </li>
      }
      <button (click)="onLogout()">
        {{ !isAuthenticated ? 'Log in' : 'Log out' }}
      </button>
      <li>
        <a
          routerLink="/about"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >About</a
        >
      </li>
    </ul>
  </div>
  }
</nav>
