.navbar ul {
  display:none;
}

.navbar button {
  padding:0.2rem;
  font-weight:bold;
  border: none;
  background-color: unset;
  color:unset;
}

.navbar a{
  font-weight:bold;
}

.navbar > a h3 img {
  width: 50px;
  margin-right:1rem;
}

.title {
  font-weight: bold;
  font-size: large;
  margin-bottom: 0;
}

.dropdown {
  display:block;
  padding:1rem;
  position:absolute;
  background-color: rgb(221, 255, 243);
  z-index:2;
  top:66px;
  height:fit-content;
  width: 90%;
  font-weight:bold;
}

.dropdown ul {
  display:flex;
  gap:1rem;
  justify-content: center;
  align-items: center;
}

.dropdown li {
  list-style-type: none;
}

/*DESKTOP SCREENS*/
@media (min-width: 70rem) {
  .hamburger {
    display: none;
  }

  .dropdown {
    display:none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(221, 255, 243);
    height: 5rem;
    width: 100vw;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .title {
    font-size: larger;
    margin-left: 2rem;
  }

  .navbar ul {
    display: flex;
    align-items: center;
    margin-right: 3rem;
    gap: 2rem;
  }

  .navbar li {
    list-style-type: none;
  }

  .logout {
    display: block;
  }
}
