<nav class="navbar">
  <a routerLink="/">
    <h3 class="title">
      <img src="assets/img/logo.png" alt="logo" />Learn Angular!
    </h3>
  </a>
  <ul>
    <li *ngIf="isAuthenticated">
      <a
        routerLink="/myprofile"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >My Profile</a>
    </li>
    <button (click)="onLogout()">
      {{ !isAuthenticated ? 'Log in' : 'Log out'}}
    </button>
    <li>
      <a
        routerLink="/about"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >About</a
      >
    </li>
  </ul>

  <button class="hamburger" (click)="toggle()">
    <fa-icon
      [icon]="faBars"
      [ngStyle]="{ fontSize: '1.5em', marginRight: '1rem' }"
      *ngIf="!show"
    ></fa-icon>
    <fa-icon
      [icon]="faTimes"
      *ngIf="show"
      [ngStyle]="{ fontSize: '1.8em', marginRight: '1rem' }"
    ></fa-icon>
  </button>

  <div *ngIf="show" class="dropdown" (click)="show=false">
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Lesson 1: Data Binding</a
        >
      </li>
      <li>
        <a
          routerLink="/assignment1"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Assignment 1</a
        >
      </li>
      <li>
        <a
          routerLink="/lesson2"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><b>Lesson 2: Directives</b></a
        >
      </li>
      <li>
        <a
          routerLink="/customdirectives"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><b>2.1. Custom Directives</b></a
        >
      </li>
      <li>
        <a
          routerLink="/assignment2"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Assignment 2</a
        >
      </li>

      <li>
        <a
          routerLink="/lesson3"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><b>Lesson 3: Sharing Data</b></a
        >
      </li>

      <li>
        <a
          routerLink="/lesson4"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><b>Lesson 4: Services</b></a
        >
      </li>

      <li>
        <a
          routerLink="/lesson5"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><b>Lesson 5: RxJs and Observables</b></a
        >
      </li>

      <li>
        <a
          routerLink="/forms"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><b>Lesson 6: Forms</b></a
        >
      </li>

      <li>
        <a
          routerLink="/dynamic-components"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><b>Lesson 7: Dynamic Components</b></a
        >
      </li>

      <li>
        <a
          routerLink="/playground"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><b>Playground</b></a
        >
      </li>

      ...............................
      <li *ngIf="isAuthenticated">
        <a
          routerLink="/myprofile"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >My Profile</a>
      </li>
      <button (click)="onLogout()">
        {{ !isAuthenticated ? 'Log in' : 'Log out'}}
      </button>
      <li>
        <a
          routerLink="/about"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >About</a
        >
      </li>
    </ul>
  </div>
</nav>
