/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2e2d35;
}

::-webkit-scrollbar-thumb {
  background: #3b3944;
}

::-webkit-scrollbar-thumb:hover {
  background: #aeffdd;
}

a,
a:active,
a:visited {
  text-decoration: none !important; /* overriding bootstrap */
  color:#82ffcb;
}

a:hover{
  color:#745dda;
}

body {
  font-family: 'Source Code Pro', monospace;
  color: #ffffff !important; /* overriding bootstrap */
  background-color: #2e2d35;
}

h3 {
  margin-bottom:2rem;
}

.mainContainer {
  gap:0rem;
  margin: 1rem !important;
}

.contentWrapper {
  border: 3px dotted #82ffcb;
  padding: 1rem;
  width:100%;
  height: fit-content;
}

table {
  color:unset !important; /*overriding bootstrap*/
}

button {
  background-color: #82ffcb;
  font-weight:bold;
  padding:0 1rem;
}

/*DESKTOP SCREENS*/
@media (min-width: 70rem) {

  .mainContainer {
    display:flex;
    justify-content: center;
  }

  .contentWrapper {
    border: 5px dotted #82ffcb;
    padding: 5rem;
    width:70%;
    height: fit-content;
    margin:2rem 0;
    text-align: center;
  }

}
