<form [formGroup]="coForm" (ngSubmit)="onSubmit()">
  <label for="name">Name </label>
  <input class="form-control" type="text" name="name" formControlName="name" />
  @if (f.name.touched && f.name.errors) {
  <p class="text-danger">Name is required</p>
  }

  <label for="email">E-mail </label>
  <input
    class="form-control"
    type="text"
    name="email"
    formControlName="email" />
  @if (f.email.touched && f.email.errors) {
  <p class="text-danger">Please enter valid e-mail.</p>
  }

  <button type="submit" class="btn btn-success" [disabled]="!coForm.valid">
    Submit
  </button>
</form>
