<!--*ngFor for array of objects-->
<table class="table">
  <thead>
    <th>IDX</th>
    <th>Type</th>
    <th>Name</th>
    <th>Price</th>
  </thead>
  <tbody>
    <tr *ngFor="let element of myArr | sort: 'name'; let i = index">
      <!--sort pipe in action-->
      <td>{{ i + 1 }}</td>
      <td>{{ element.type | shorten: 3 }}</td>
      <!--shorten pipe in action-->
      <td>{{ element.name | reverse }}</td>
      <!--reverse pipe in action-->
      <td>{{ element.price }}</td>
    </tr>
  </tbody>
</table>

<button (click)="addElementsToArray()">Add more elements</button>

<br /><br />
<br />

<!--MyApiService-->
Practicing handling http requests using RxJS Subject:
<div class="apiComponentsContainer">
  <app-apiservice2></app-apiservice2>
  <app-another></app-another>
</div>

<br /><br />

<!--Callbacks vs Promises vs Async/Await vs RxJS Observables-->
Callbacks vs Promises vs Async/Await vs RxJS Observables (check console after clicking the button, timeout is 2 sec)
<div class="apiComponentsContainer">
  <button (click)="testCallbacks()" style="background-color:'#d9c4bd';">Test Callbacks</button>
  <button (click)="testPromises()" style="background-color:'#c4c4fc';">Test Promises</button>
  <button (click)="testAsyncAwait()" style="background-color:'	#ff613d';">Test Async/Await (internally
    Promises)</button>
  <button (click)="testObservables()" style="background-color:'	#ff0087';">Test RxJS Observables</button>
</div>

<br /><br />
<!--Count up to number animation with rxjs interval-->
<app-test></app-test>

<!--Rxjs playground-->
<h2>Rxjs test:</h2>
<app-rxjs-operators></app-rxjs-operators>

<br /><br />

<!--trying out Date pipe-->
<h2>Date Pipe test:</h2>
{{ date | date:'mediumDate'}}

<br /><br />

<!--controlValueAccessor test-->
<div class="cvaWrapper">
  <h2>Control Value Accessor Test</h2>
  <form [formGroup]="cvaTestForm">
    <app-custom-input formControlName="name"></app-custom-input>

    <p>Control Value Accessor Test Form Value: {{cvaTestForm.controls.name.value }}</p>
    <p>Control Value Accessor Test Form Invalid: {{cvaTestForm.controls.name.invalid }}</p>
    <p>Control Value Accessor Test Form Pristine: {{cvaTestForm.controls.name.pristine }}</p>
    <p>Control Value Accessor Test Form Touched: {{cvaTestForm.controls.name.touched }}</p>
  </form>

</div>