<!--*ngFor for array of objects-->
<table class="table">
  <thead>
    <th>IDX</th>
    <th>Type</th>
    <th>Name</th>
    <th>Price</th>
  </thead>
  <tbody>
  <tr *ngFor="let element of myArr  | sort:'name'; let i = index;"> <!--sort pipe in action-->
  <td>{{ i+ 1 }}</td>
  <td>{{element.type | shorten: 3}}</td> <!--shorten pipe in action-->
  <td>{{element.name | reverse}}</td> <!--reverse pipe in action-->
  <td>{{element.price}}</td>
  </tr>
  </tbody>
</table>


<button (click)="addElementsToArray()">Add more elements</button>

<br/><br/>

<!--MyApiService-->

<div class='apiComponentsContainer'>
<app-apiservice2></app-apiservice2>
<app-another></app-another>
</div>




