.wrapper {
  display:flex;
  gap:2rem;
  max-width:100vw;
  padding:1rem;
  justify-content: center;
}
.playground {
  background-color: #a2fff3;
  padding: 2rem;
  border: 5px dotted #252525;
  max-width: fit-content;
  }

.playground h3 {
  margin-bottom:2rem;
}