<div class="wrapper">
  <div class="playground">
    <h3>Hello World!</h3>
    
    <h5>String Interpolation:</h5>
    <p>
    The pokemon via variable is <b>{{ firstPokemon }}</b>
    <br/>
    The pokemon via method is <b>{{ getPokemon() }}</b>
    
  </p>

    <h5>Event binding with (click):</h5>
    <p><button (click)="functionOnClick()">
      Click me to see the output in console
    </button></p>

    <h5>Event binding with (input):</h5>
    <p><input
      type="text"
      class="form-control"
      (input)="onUpdateInputName($event)"
    />

    {{ inputName }}</p>
  </div>

  <app-api-component></app-api-component>
</div>
